<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/toscana?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">toscana</property>
    <property name="hibernate.connection.password">toscana</property>
    <mapping class="com.toscana.model.sessions.User"/>
    <mapping class="com.toscana.model.sessions.Session"/>
    <mapping class="com.toscana.model.products.Product"/>
    <mapping class="com.toscana.model.sales.DataSale" />
    <mapping class="com.toscana.model.reports.sources.CashUserSession"/>
    <mapping class="com.toscana.model.reports.types.PaymentType"/>
    <mapping class="com.toscana.model.reports.types.SummaryPaymentsType"/>
    <mapping class="com.toscana.model.reports.ReceiptCashOut"/>
    <mapping class="com.toscana.model.reports.ReceiptSaleCut"/>
    <mapping class="com.toscana.model.reports.ReceiptSessionOut"/>
  </session-factory>
</hibernate-configuration>
